configuration {
	modi:						"drun,window";
	case-sensitive:				false;
	cycle:						true;
	filter:						"";
	show-icons:					true;
	icon-theme:					"papirus";
	scroll-method:				0;

	// match
	normalize-match:			true;
	matching:					"normal";
	tokenize:					true;

	// drun
	drun-match-fields:			"name,generic,exec,categories,keywords";
	drun-show-actions:			false;
	drun-url-launcher:			"xdg-open";
	drun-use-desktop-cache:		false;
	drun-reload-desktop-cache:	false;
	drun {
		parse-user:				true;
		parse-system:			true;

		fallback-icon:			"application-x-addon";
	}

	/*---------- Window switcher settings ----------*/
	window-match-fields:		"class,title";
	window-format:				"{w} {c} {t:0}";
	window-thumbnail:			true;

	/*---------- History and Sorting ----------*/
	disable-history:			false;
	sorting-method:				"normal";
	max-history-size:			25;

	/*---------- Misc setting ----------*/
	terminal:					"rofi-sensible-terminal";
	sort:						false;
	threads:					0;
	click-to-exit:				true;

	/*---------- Other settings ----------*/
    timeout {
		action:					"kb-cancel";
		delay:					5;
    }

}
