configuration {
	modi:						"drun";
	case-sensitive:				false;
	cycle:						true;
	filter:						"";
	show-icons:					true;
	icon-theme:					"papirus";
	scroll-method:				0;

	// match
	normalize-match:			true;
	matching:					"normal";
	tokenize:					true;

	/*---------- History and Sorting ----------*/
	disable-history:			false;
	sorting-method:				"normal";
	max-history-size:			25;

	/*---------- Misc setting ----------*/
	terminal:					"rofi-sensible-terminal";
	sort:						false;
	threads:					0;
	click-to-exit:				true;

	/*---------- Other settings ----------*/
    timeout {
		action:					"kb-cancel";
		delay:					5;
    }

}
