@import "./colors.css";

@define-color color @primary;
@define-color back @background;
@define-color border-color @surface_bright;

@define-color workspace-color @inverse_primary;
@define-color workspace-hover-color @secondary;
@define-color workspace-hover-back @secondary_container;

* {
	min-height: 0;

	font-family: 'JetBrainsMono Nerd Font', monospace;
	font-size: 11pt;
}

window#waybar {
	background: transparent;
	color: @color;
}

.modules-left,
.modules-center,
.modules-right {
	background: transparent;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 5px 0 0;
	/* margin: 0 0 5px; */
}

.modules-left {
	margin-left: 8px;
}
.modules-right {
	margin-right: 8px;
}

#workspaces,
#window,
#clock,
#wifi-blue-bat,
#memory,
#pulseaudio,
#tray,
#cpu,
#language,
#keyboard-state,
#backlight,
#custom-power,
#custom-notification {
	background: @back;
	border: 1px solid @border-color;
	border-radius: 10px;
	padding: 3px 9px 2px;
	margin: 0 4px;
}

#workspaces {
	padding: 3px 5px;
	background: @back;
	border: 1px solid @border-color;
	border-radius: 10px;
}

#workspaces button {
	color: @workspace-color;
	background: transparent;
	border: none;
	border-radius: 7px;
	padding: 0 12px 0 7px;
	margin: 0 2px;
}

#workspaces button.visible {
	color: @back;
	background: @color;
}

#workspaces button:hover {
	color: @workspace-hover-color;
	background: @workspace-hover-back;
}

#clock {
	color: #f9e2af;
}

#memory {
	color: #cba6f7;
}

#network {
	color: #94e2d5;
	padding-right: 14px;
}
#bluetooth {
	padding-right: 12px;
}

#pulseaudio {
	color: #fab387;
}

#pulseaudio.muted {
	color: #f38ba8;
}

#battery {
	color: #a6e3a1;
}
#battery.warning {
	color: #f9e2af;
}
#battery.critical:not(.charging) {
	color: #ff5555;
}

#custom-power {
	padding-right: 11px;
}

#custom-notification {
	padding-right: 11px;
}

tooltip {
	background-color: @back;
	color: @color;
	border: 1px solid @border-color;
	border-radius: 8px;
	opacity: 1;
	box-shadow: none;
	text-shadow: none;
}

tooltip label {
	background-color: transparent;
	color: @color;
	text-shadow: none;
}
