@import							"shared.rasi"

configuraion {
	promt:						"";
}

window {
	location:					south;
	anchor:						south;

	y-offset:					-20px;
}

inputbar {
    children:                   [ "entry", "num-rows" ];
}

num-rows {
	text-color:					inherit;
	background-color:			inherit;
}

listview {
	lines:						8;
	fixed-height:				true;

    layout:                     vertical;
}
