// original config: https://github.com/adi1090x/rofi/blob/master/files/launchers/type-2/style-2.rasi

@import							"shared.rasi"

configuration {
    display-drun:				" ";
	drun-display-format:        "{name}";

	drun-match-fields:			"name,generic,exec,categories,keywords";
	drun-show-actions:			false;
	drun-url-launcher:			"xdg-open";
	drun-use-desktop-cache:		false;
	drun-reload-desktop-cache:	false;
	drun {
		parse-user:				true;
		parse-system:			true;

		fallback-icon:			"application-x-addon";
	}

}

window {
    location:                    center;
    anchor:                      center;
    x-offset:                    0px;
    y-offset:                    0px;

	width: 700px;
}

mainbox {
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    children:                    [ "prompt", "entry" ];
}

// List
listview {
    columns:                     2;
    fixed-columns:               true;

    lines:                       8;
    fixed-height:                true;

    layout:                      vertical;
}
